<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aseguradora.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadoTitulares">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista De Titulares
            </NavLink>
        </div> 
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="titular">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar Titular
            </NavLink>
        </div> 
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="listadoVehiculos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista De Vehiculos
            </NavLink>
        </div> 
         <div class="nav-item px-4">
            <NavLink class="nav-link" href="vehiculo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar Vehiculo
            </NavLink>
        </div> 
           <div class="nav-item px-4">
            <NavLink class="nav-link" href="listadoPolizas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista De Polizas
            </NavLink>
        </div> 
         <div class="nav-item px-4">
            <NavLink class="nav-link" href="poliza">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar Poliza
            </NavLink>
        </div> 
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
