@page "/poliza/{Id:int?}"
@inject ObtenerPolizaUseCase ObtenerPolizaUseCase
@inject ModificarPolizaUseCase ModificarPolizaUseCase
@inject NavigationManager Navegador;
@inject AgregarPolizaUseCase AgregarPolizaUseCase


@if (err.Length > 1)
{
    <h3>@err</h3>
}
@if (_esNuevaPoliza)
{
    <h3>Agregando una nueva Poliza</h3>
}
else
{
    <h3>Modificando a la Poliza con Id "@_poliza.Id"</h3>
}
<form @onsubmit="Aceptar">
    <label class="form-control">
        ID Vehiculo:
        <input type="number" placeholder="" @bind="idVeh" required="required">
    </label>
    <label class="form-control">
        Valor Asegurado:
     <input type="number" step="0.01" placeholder="" @bind="valor" required="required">
        </label>
    <label class="form-control">
        Franquicia:
    <input type="number" step="0.01" placeholder="" @bind="franq" required="required">
    </label>
    <InputRadioGroup @bind-Value="_poliza.Cobertura" TValue="@Cobertura">
        @foreach (Cobertura cobert in Enum.GetValues(typeof(Cobertura)))
        {
            <label>
                <input type="radio" name="cobertura" value="@cobert" />
                @cobert
            </label>
            <br />
        }
    </InputRadioGroup>
    <label class="form-control">
        Fecha de inicio:
        <input placeholder="" type="date" @bind="_poliza.FechaInicio" required="required">
    </label>
    <label class="form-control">
        Fecha de finalizacion:
        <input placeholder="" type="date" @bind="_poliza.FechaFin" required="required">
    </label>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
@code {
    Poliza _poliza = new Poliza(0, 0, 0, Cobertura.TodoRiesgo, DateTime.Now, DateTime.Now);
    string valor = "", franq = "", idVeh = "";
    string err = "";
    [Parameter] public int? Id { get; set; }
    bool _esNuevaPoliza = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var poli_hallada = ObtenerPolizaUseCase.Ejecutar(Id.Value);
            if (poli_hallada != null)
            {
                _poliza = poli_hallada;
                _esNuevaPoliza = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            _poliza.VehiculoID = int.Parse(idVeh);
            _poliza.Franquicia = decimal.Parse(franq);
            _poliza.ValorAsegurado = decimal.Parse(valor);
            if (_esNuevaPoliza)
            {
                AgregarPolizaUseCase.Ejecutar(_poliza);
            }
            else
            {
                ModificarPolizaUseCase.Ejecutar(_poliza);
            }
            Navegador.NavigateTo("listadoPolizas");
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}