@page "/siniestro/{Id:int?}"
@inject ObtenerSiniestroUseCase ObtenerSiniestroUseCase
@inject ModificarSiniestroUseCase ModificarSiniestroUseCase
@inject NavigationManager Navegador;
@inject AgregarSiniestroUseCase AgregarSiniestroUseCase


@if (err.Length > 1)
{
    <h3>@err</h3>
}
@if (_esNuevoSiniestro)
{
    <h3>Agregando un nuevo Siniestro</h3>
}
else
{
    <h3>Modificando al Siniestro con Id "@_siniestro.Id"</h3>
}
<form @onsubmit="Aceptar">
    <label class="form-control">
        ID Poliza:
    <input placeholder="" @bind="_idpoliza" required="required">
    </label>
   <label class="form-control" >
    Fecha de Ocurrencia: 
    <input placeholder="" type ="date"@bind="_siniestro.FechaOcurrencia" required="required">
   </label>
    <label class="form-control">
        Direccion:
    <input placeholder="" @bind="_siniestro.Direccion" required="required">
    </label>
    <label class="form-control">
        Descripcion:
    <input placeholder="" @bind="_siniestro.Descripcion"  required="required">
    </label>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
@code {
    Siniestro _siniestro = new Siniestro(0, DateTime.Now, "", "");
    string _idpoliza = "";
    string err = "";
    [Parameter] public int? Id { get; set; }
    bool _esNuevoSiniestro = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var sin_hallado = ObtenerSiniestroUseCase.Ejecutar(Id.Value);
            if (sin_hallado != null)
            {
                _siniestro = sin_hallado;
                _esNuevoSiniestro = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            _siniestro.IdPoliza = int.Parse(_idpoliza);
            if (_esNuevoSiniestro)
            {
                AgregarSiniestroUseCase.Ejecutar(_siniestro);
            }
            else
            {
                ModificarSiniestroUseCase.Ejecutar(_siniestro);
            }
            Navegador.NavigateTo("listadoSiniestros");
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}