@page "/titular/{Id:int?}"
@inject ObtenerTitularUseCase ObtenerTitularUseCase
@inject ModificarTitularUseCase ModificarTitularUseCase
@inject NavigationManager Navegador;
@inject AgregarTitularUseCase AgregarTitularUseCase


@if (err.Length > 1)
{
    <h3>@err</h3>
}
@if (_esNuevoTitular)
{
    <h3>Agregando un nuevo Titular</h3>
}
else
{
    <h3>Modificando al Titular con DNI "@_titular.Dni"</h3>
}
<form @onsubmit="Aceptar">
    <label class="form-control">
        Nombre:
    <input placeholder="" @bind="_titular.Nombre" required="required">
    </label>
    <label class="form-control">
        Apellido:
    <input placeholder="" @bind="_titular.Apellido" required="required">
    </label>
    <label class="form-control">
        DNI:
    @if (_esNuevoTitular)
    {
        <input placeholder="" type="number" @bind="_dni" required="required">
    }
    else
    {
        <input placeholder="" @bind="_titular.Dni"  disabled>
    }
    </label>
    <label class="form-control">
        Telefono:
    <input placeholder="" @bind="_titular.Telefono" required="required">
    </label>
    <label class="form-control">
        Email:
    <input placeholder="" @bind="_titular.Email" required="required">
    </label>
    <label class="form-control">
        Direccion:
    <input placeholder="" @bind="_titular.Direccion" required="required">
    </label>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
@code {
    Titular _titular = new Titular(0, "", "", "");
    string _dni = "";
    string err = "";
    [Parameter] public int? Id { get; set; }
    bool _esNuevoTitular = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var cli_hallado = ObtenerTitularUseCase.Ejecutar(Id.Value);
            if (cli_hallado != null)
            {
                _titular = cli_hallado;
                _esNuevoTitular = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            if (_esNuevoTitular)
            {
                _titular.Dni = int.Parse(_dni);
                AgregarTitularUseCase.Ejecutar(_titular);
            }
            else
            {
                ModificarTitularUseCase.Ejecutar(_titular);
            }
            Navegador.NavigateTo("listadoTitulares");
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}