@page "/vehiculo/{Id:int?}"
@inject ObtenerVehiculoUseCase ObtenerVehiculoUseCase
@inject ModificarVehiculoUseCase ModificarVehiculoUseCase
@inject NavigationManager Navegador;
@inject AgregarVehiculoUseCase AgregarVehiculoUseCase


@if (err.Length > 1)
{
    <h3>@err</h3>
}
@if (_esNuevoVehiculo)
{
    <h3>Agregando un nuevo Vehiculo</h3>
}
else
{
    <h3>Modificando al Vehiculo con Dominio "@_Vehiculo.Dominio"</h3>
}
<form @onsubmit="Aceptar">
    <label class="form-control">
        Dominio:
    @if (_esNuevoVehiculo)
    {
        <input placeholder="" @bind="_Vehiculo.Dominio"  required="required">
    }
    else
    {
        <input placeholder="" @bind="_Vehiculo.Dominio" disabled>
    }
    </label>
    <label class="form-control">
        Marca:
    <input placeholder="" @bind="_Vehiculo.Marca" required="required">
    </label>
    <label class="form-control">
        Año:
    <input placeholder="" type="number" @bind="_anio" required="required">
    </label>
    <label class="form-control">
        ID Titular:
    <input placeholder="" type="number" @bind="_titularId" required="required">
    </label>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>

@code {
    Vehiculo _Vehiculo = new Vehiculo("", "", 0, 0);
    string err = "";
    string _anio = "";
    string _titularId = "";
    [Parameter] public int? Id { get; set; }
    bool _esNuevoVehiculo = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var vehi_hallado = ObtenerVehiculoUseCase.Ejecutar(Id.Value);
            if (vehi_hallado != null)
            {
                _Vehiculo = vehi_hallado;
                _esNuevoVehiculo = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            _Vehiculo.Anio = int.Parse(_anio);
            _Vehiculo.TitularId = int.Parse(_titularId);
            if (_esNuevoVehiculo)
            {
                AgregarVehiculoUseCase.Ejecutar(_Vehiculo);
            }
            else
            {
                ModificarVehiculoUseCase.Ejecutar(_Vehiculo);
            }
            Navegador.NavigateTo("listadoVehiculos");
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}