@page "/tercero/{Id:int?}"
@inject ObtenerTerceroUseCase ObtenerTerceroUseCase
@inject ModificarTerceroUseCase ModificarTerceroUseCase
@inject NavigationManager Navegador;
@inject AgregarTerceroUseCase AgregarTerceroUseCase


@if (err.Length > 1)
{
    <h3>@err</h3>
}
@if (_esNuevoTercero)
{
    <h3>Agregando un nuevo Tercero</h3>
}
else
{
    <h3>Modificando al Tercero con Id "@_tercero.Id"</h3>
}
<form @onsubmit="Aceptar">
    <label class="form-control">
        Nombre:
    <input placeholder="" @bind="_tercero.Nombre" required="required">
    </label>
    <label class="form-control">
        Apellido:
    <input placeholder="" @bind="_tercero.Apellido" required="required">
    </label>
    <label class="form-control">
        DNI:
    <input placeholder="" type="number" @bind="_dni" required="required">
    </label>
    <label class="form-control">
        Telefono:
    <input placeholder="" @bind="_tercero.Telefono" required="required">
    </label>
    <label class="form-control">
        Aseguradora:
    <input placeholder="" @bind="_tercero.NombreAseguradora" required="required">
    </label>
    <label class="form-control">
        ID Siniestro:
    <input placeholder="" @bind="_idsiniestro" required="required">
    </label>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
@code {
    Tercero _tercero = new Tercero("",0,0, "", "", "");
    string _dni = "";
    string _idsiniestro = "";
    string err = "";
    [Parameter] public int? Id { get; set; }
    bool _esNuevoTercero = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var ter_hallado = ObtenerTerceroUseCase.Ejecutar(Id.Value);
            if (ter_hallado != null)
            {
                _tercero = ter_hallado;
                _esNuevoTercero = false;
            }
        }
    }
    void Aceptar()
    {
        try
        {
            _tercero.Dni = int.Parse(_dni);
            _tercero.IdSiniestro = int.Parse(_idsiniestro);
            if (_esNuevoTercero)
            {
                AgregarTerceroUseCase.Ejecutar(_tercero);
            }
            else
            {
                ModificarTerceroUseCase.Ejecutar(_tercero);
            }
            Navegador.NavigateTo("listadoTerceros");
        }
        catch (Exception e)
        {
            err = e.Message;
        }
    }
}